body {
    background-color: white;
    padding: 13%;
}
.main-section {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.second-page {
    font-size: 35px;
    font-weight: 800;
    font-style: oblique;
}

#user-full-name {
    color: rgb(39, 39, 179);
}

#category {
    margin-bottom: 20px;
    border-radius: 5px;
    width: 500px;
    height: 40px;
    font-size: 20px;    
}

.difficulty {
    width: 500px;
    height: 40px;
    font-size: 20px; 
    border-radius: 5px;
}

.start {
    background-color: rgb(39, 39, 179);
    border-radius: 4px;
    width: 180px;
    margin-top: 30px;
    font-size: 20px;
    height: 40px;
    font-weight: 500;
    font-style: normal;
    color: aliceblue;
    border: none;
}

.start:hover {
    background-color: rgba(47, 47, 220, 0.903);
    font-size: 30px;
}


