body {
    background-color: antiquewhite;
    background-repeat:no-repeat;
    background-size: cover;
    padding: 10px;
    margin: 10px;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;

}
.details{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    flex-direction: column;
}
input[type="email"], input[type="password"] , input[type="number"],input[type="text"], input[type="text"] {
    border-radius: 10px;
    /* border: 10px solid #ccc; */
    width: 130%;
    box-sizing: border-box;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
    height: 35px;
    
  }

.button{
    background-color: antiquewhite;
    border: none;
    padding: 0px 30px;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    font-size: 15px;
    width: 130%;

  }

.button:hover{
    background-color:  #4CAF50;
    color: aliceblue;
}
  