body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    padding: 10%;
}
.details{
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
.details > input{
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
    height: 45px;
    
  }

.button{
    background-color: rgb(233, 217, 197);
    border: none;
    padding: 0px 30px;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    font-size: 15px;
    width: 100%;

  }

.button:hover{
    background-color:  grey;
    color: aliceblue;
    font-size: 20px;
}

.main{
  display: flex;
  flex-direction: column;
  padding: 50px;

}

.text{
  display: flex;
  flex-direction: column;
}

.text > span{
  color: grey;
  font-size: 35px;
  margin-top: 30px;

}

@media screen and (max-width: 728px) {
  
  .main{
    padding: 5px;
    width: 100%;
  }
}
