body{
 background-color:whitesmoke;
}
#question_and_answertag {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 50px
}

.answer_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-color: black;
    justify-content: center;
    

}

.question {
    font-size: 50px;
    font-weight: bold;
    align-self: stretch;
    margin: 0px;
}

.pick {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    display: table-cell;
}

#nextButton, #try-again {
    display: flex;
    margin-top: 30px;
    height: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT';
    width: 200px;
    font-size: 25px;
    border-radius: 8px;
    align-self: center;
    border: none;
    background-color: green;
    align-items: center;
    justify-content: center;
    color: white;
    
}

#nextButton:hover, #try-again:hover {
    font-size: 30px;
    width: 300px;
}

.answer_display{
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.pick > label{
    display: flex;
    gap: 10px;
}

.pick > label > p {
    font-size: 20px;
}

#user-result{
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#user-result > p, #user-result > h1 {
 margin: 0px;
}

#percentage{
    display: flex;
    font-size: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    color: green;
    margin: 0px;
}

#option{
    display: flex;
    flex-direction: column;
}



